:root {
  --heading-font: "Roboto Slab", serif;
  --secondary-font: "Montserrat", sans-serif;
  --accent-color: #f8990b;
}

body {
  background: #070808;
  color: #e8e6e3;
  font-family: var(--secondary-font);
}

h1,
h3,
h4 {
  font-family: var(--heading-font);
}

h1 {
  font-size: 96px;
}

h2 {
  opacity: 0.8;
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 36px;
}

p {
  font-size: 18px;
  line-height: 30px;
  opacity: 0.8;
}

footer {
  padding: 28px;
  margin: 100px 0 30px;
}

.homepage {
  background-image: linear-gradient(to bottom, #750dbb 0%, #090011 100%);
  padding: 160px 20px;
}

.name-brand,
.homepage h1 {
  color: #f70e06;
}

.primary-button,
.secondary-button,
.email-link,
.social-links a {
  text-decoration: none;
}

.primary-button,
.secondary-button {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 15px;
  transition: all 300ms ease-in-out;
}

.primary-button {
  background: var(--accent-color);
  color: #000;
}

.primary-button:hover {
  color: #fff;
}

.secondary-button,
.hamburger:hover {
  color: var(--accent-color);
}

.secondary-button:hover {
  background: var(--accent-color);
  color: #070808;
}

.email-link,
.social-links a {
  color: #00ffea;
}
.email-link {
  font-size: 18px;
}

.email-link:hover,
.social-links a:hover {
  color: #ae00ff;
}

.social-links a {
  background: #252525;
  border-radius: 50%;
  font-size: 36px;
  margin: 0 20px;
  padding: 10px 14px;
}

.hamburger {
  color: #fff;
  font-size: 24px;
  transition: all 200ms ease-in-out;
}

.description {
  padding: 0 30px;
}

.inquiry-box {
  background: #252525;
  border-radius: 4px;
  padding: 50px;
}

.content {
  padding: 160px 20px;
}

.content h1 {
  font-size: 52px;
}

.content h2 {
  font-size: 20px;
}

.info h3 {
  font-family: var(--secondary-font);
  font-size: 24px;
}

.info p {
  font-size: 16px;
}

.mango-image {
  max-width: 90%;
  margin: 0 auto;
}

.weather-image {
  max-width: 70%;
  margin: 0 auto;
}

.coder {
  max-width: 80%;
}

.navigation {
  background: #111;
  font-family: var(--bs-font-sans-serif);
}

@media (max-width: 768px) {
  .homepage {
    padding: 120px 10px;
  }
  .description {
    padding: 0px;
  }
  .social-links a {
    font-size: 36px;
    margin: 0 10px;
    padding: 6px 10px;
  }
  .content {
    padding: 120px 15px;
    text-align: center;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 42px;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .inquiry-box {
    padding: 36px;
    display: block;
    margin: 0 auto;
  }
  .social-links a {
    font-size: 30px;
    padding: 4px 8px;
  }
  .content h1 {
    font-size: 40px;
  }
  .content h2 {
    font-size: 18px;
  }
  .content p {
    font-size: 16px;
  }
  .app-link {
    display: block;
    text-align: center;
    margin: 0 50px;
  }
  .homepage {
    padding: 100px 5px;
  }
  .coder {
    max-width: 60%;
  }
}

@media (max-width: 477px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 36px;
  }
  p {
    font-size: 16px;
  }
  footer .email-link {
    font-size: 16px;
  }
  .social-links a {
    font-size: 24px;
    margin: 0 5px;
    padding: 3px 7px;
  }
}
